* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
}

input {
    background-color: gray;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.flag_button {
    margin: 0;
    padding: 0;
    border: none;
}

.flag_button:hover {
    cursor: pointer;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input,
.form button {
    margin: 5px;
}

.form button {
    width: 20%;
}